.scrollbar {
    position: relative;
    height: 70vh;
    overflow: auto;
    }
 
 .scroll-y {
    display: block;
    }
/* 
.headings
{
    position: sticky; 
    top: 0; 
}
 */

 .headings
 {
     color: black ;
 }

#superHeroImage
{
   width:300px;
   height: 300px;

}

#imageDiv
{
    display: flex;
    justify-content: center;
}